*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: wheat;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 4rem;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}
.image{
    height: 170px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem;
    border: .3rem solid black;
   
}
#paper{
    rotate: 270deg;
    margin-bottom: .5rem;
}
.scoreboard{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 3rem;
   
}
.image:hover{
    opacity: .5;
    cursor: pointer;
}
#user,#comp{
    font-size: 4rem;
}
.msg{
    margin-top: 2rem;
}
#move{
    font-size: 1.5rem;
    background-color: black;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
